// https://ant.design/components/layout#breakpoint-width
$bp-xs: '480px';
$bp-sm: '576px';
$bp-md: '768px';
$bp-lg: '992px';
$bp-xl: '1200px';
$bp-xxl: '1600px';

$bg-weekend-cell: rgba(243, 215, 208, 0.8);
$bg-irregular-cell: rgba(252, 146, 119, 0.8);
$bg-shorneted-cell: rgba(239, 241, 194, 0.8);

$border-freeze-cell: rgba(39, 183, 245, 0.8);
